.doughnut-labels{
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.sort-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.iconsDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 8px;
    background: #ffffff; /* Gray/100 */
    border: 1px solid #eceff2; /* Shadows/shadow-xs */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 80px;
    flex: none;
    order: 0;
    flex-grow: 1;
    width: 53px;
    height: 51px;
}
.sort-percentage{
    display: flex;
    gap:20px;
    align-items: center;
}
.textDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}