.flex-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
}
.center-div {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  padding: 21px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
}
.center-div > ul {
  display: flex;
  gap: 2rem;
  padding: 0;
}

.center-div li {
  margin: 0;
  list-style: none;
}
.center-div a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.center-div a:hover:not(.active) {
  background-color: #F5F8FF;
  color: blue;
}
.center-div a:active {
  background-color: #F5F8FF;
  color: blue;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.avatar {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 9999px;
  flex: none;
  order: 0;
  flex-grow: 20;
  margin-top: -0.5rem;
}
.Logo{
    width: 190px;
    height: 180px;
    margin-top: -2.9em;
}