.section-header-row {
    display: flex;
    align-items: center; /* Align all items in the center vertically */
    gap: 150px; /* Consistent gap between all items */
    width: 100%;
    padding: 10px 20px 10px 9px; /* Consistent padding */
    background-color: #ECEFF2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #516778;
}

.section-header-row p {
    margin: 0; /* Remove default margin from paragraph */
    padding: 5px 0; /* Add consistent padding around each paragraph */
}
